@model IEnumerable<IncidentTracking.Models.IncidentSearchResultViewModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@*
    * ================================================================================
    * MODULE:  Incidents\IncidentSearchResultsPartialView.cshtml
    *
    * PURPOSE:
    * This partial view provides a tabular listing of incident search results.
    *
    * Copyright:    ©2018 by E2i, Inc.
    * Created Date: 2018-11-08
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author            Date        Description
    * Brad Robbins	    2018-11-08  Initial version
    * Brad Robbins      2019-05-01  Disabled ES11 log number
    * Brad Robbins      2019-05-02  Changed from creation to activity performed date/time.
    * Brad Robbins      2019-12-06  Added condtions for edit link
    * Brad Robbins      2020-03-11  Re-enabled ES11 Log number
    * Brad Robbins      2020-05-13  Replaced control system with short description
    * Brad Robbins      2020-06-02  Removed "root cause"; code clean up
    * ================================================================================
*@

@{ var currentUserId = User.Identity.Name.ToUpper(); }
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>ES11 Log Number</th>
            <th>Activity Performed</th>
            <th>Mfg Area</th>
            <th>Short Description</th>
            <th>Classification</th>
            <th>Engineer Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LogNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedLocalActivityPerformedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingAreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassificationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineerName)
                </td>
                <td>
                    @if(currentUserId.Equals(item.UserId, StringComparison.CurrentCultureIgnoreCase) || (await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a> 
                        <span>|</span>
                    } 
                    <a asp-action="Details" asp-route-id="@item.IncidentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>