@model IEnumerable<ES13Web.Models.ManufacturingAreaIndexViewModel>
@*
    * ================================================================================
    * MODULE:  ManufacturingAreas\Index.cshtml
    *
    * PURPOSE:
    * This view supports listing manufacturing areas.
    *
    * Copyright:    ©2019 by E2i, Inc.
    * Created Date: 2019-04-26
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2019-04-26  Initial version
    * Brad Robbins     2019-09-24  Added Details link
    * Brad Robbins     2020-06-15  Updated to use ManufacturingAreaIndexViewModel
    * ================================================================================
*@
@{
    ViewData["Title"] = "Index";
}

<h2>Manufacturing Areas</h2>
<p class="alert-success">@TempData["Message"]</p>
<p class="alert-danger">@TempData["Error"]</p>
<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ManufacturingAreaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ManufacturingAreaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ManufacturingAreaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("PagingPartialView")